<div class="middle_container">
    <div class="profile">
      <img class="my-img" src="../../../assets/vishal.jpg" alt="vishal-profile-img">
      <h2>Hello.</h2>
      <p class="intro">I am an Java, Python and Web Developer. I ❤️ Coding, building my applications and explore more languages.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/lr1QZ7prMwwkqSSVLa/giphy.gif" alt="code-img">

        <h3>Design & Development</h3>
        <p>I started learning to code when I was 16 years old because I wanted to make my own video games. Over time, I have gained a wealth of experience designing and developing applications.</p>
        <p>Languages which I worked with are Java, Python, NodeJS & R.</p>
        <p>I have also worked with SQL and front-end languages like HTML, CSS, BootStrap.</p>

      </div>
      <div class="skill-row">
        <img class="zombie-img" src="../../../assets/scify.png" alt="Zombie-img">

        <h3>Hobbies</h3>
        <p>I love reading Science-Fiction. I am the undisputed King of Science-Fiction. Books, Manga, Anime, Movies all of them are my favourite. Along with this I also play some video games & do gardening.</p>
        
      </div>
    </div>
    <hr>
    <app-me-contact></app-me-contact>