<div class="contact-me">
    <h2>Get In Touch</h2>
    <h3>If you love Science-Fiction as much as I do.</h3>
    <p class="contact-message">Love Science-Fiction as much as I do? Let's talk about how awesome they are!<br> We can code while we talk Science-Fiction!</p>
    <app-button
    color=""
    text = "CONTACT ME" 
    btnClick = "mailto:vishal.thakur607@gmail.com"
    ></app-button>
  </div>


<div class="bottom_container">
  <a class="footer-link" href="https://www.linkedin.com/in/vishal-sepaia-4a1455126/">LinkedIn</a>
  <a class="footer-link" href="https://twitter.com/vishal783963650">Twitter</a>
  <a class="footer-link" href="https://github.com/jordan607">Github</a>
  <p class="trademark">©2021 Vishal Sepaia.</p>
</div>